body {
  background: #050d24;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 300px;
  height: 200px;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  margin: 20px;
  box-shadow: 5px 5px 0px #7c2ae8;
  border: 2px solid #7c2ae8;
}

.card:hover {
  transform: scale(0.9);
  box-shadow: 4px 0px 0px #7c2ae8;
}

.card:hover::after {
  height: 200px;
}

.card:hover .content p {
  margin-bottom: 0px;
  opacity: 1;
}

.card:hover img {
  transform: scale(1.25);
}

.card::after {
  width: 100%;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 15px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 20;
  transition: all 0.2s ease;
}

.card img {
  height: 100%;
  z-index: 10;
  transition: all 0.2s ease;
}

.card .content {
  z-index: 30;
  color: #fff;
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
}

.card .content p {
  font-size: 0.8rem;
  opacity: 0;
  margin-bottom: -170px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.card .content p button {
  padding: 7px 17px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #7c2ae8;
  color: #fff;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: inherit;
  font-size: 0.75rem;
  outline: none;
}

.card .content p button:hover {
  background: #7c2ae8;
  color: #fff;
}
